@{
    ViewData["Title"] = "Prestamos";
}
@model SistemaCreditos.Models.Cliente

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Préstamos</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Inicio</a></li>
                    <li class="breadcrumb-item active">Lista de Préstamos</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<section class="content" id="prestamos">
    <div class="row">
        <div class="col-md-12">
            <!-- Preloader -->
            <div class="preloader flex-column justify-content-center align-items-center">
                <img class="animation__shake" src="~/img/logocd.jpeg" alt="AdminLTELogo" height="180" width="180">
            </div>

            <div class="card card-outline card-info">
                <div class="card-header">
                    @if (Model != null)
                    {
                        <div><span><font size="5">Cliente : <strong> @Model.ApellidosCliente  @Model.NombreCliente</strong></font>  </span></div>
                        <div><span><font size="4">DNI : <strong> @Model.Dni</strong></font>  </span></div>
                    }
                    @if (Model != null)
                    {
                        <a class="badge bg-success" :href="'/Clientes/NuevoPrestamo?IdCliente='+idCliente" title="Nuevo Préstamo">
                            <i class="fas fa-money-bill-alt"></i><span>  Nuevo Préstamo</span>
                        </a>
                    }
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <table class="table table-bordered" id="example1">
                        <thead>
                            <tr>
                                <th>Número</th>
                                <th>Ver Cuotas</th>
                                <th>Capital</th>
                                <th>Día de pago</th>
                                <th>Fondo Provicionario</th>
                                <th>Fecha de Entrega</th>
                                <th>Fecha de Termino</th>
                                <th>Número de cuotas</th>
                                <th>Ver Estado de Cuenta</th>
                                <th>Eliminar Préstamo</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="item,numero in prestamos">
                                <td>{{numero+1}}</td>
                                <td class="text-center"><button class="btn btn-default" id="show-modal" data-toggle="modal" data-target="#modal-lg" v-on:Click="verCuotas(item.idPrestamo)"><i class="fas fa-share text-success"></i> <i class="fas fa-list text-success"></i></button></td>
                                <td>{{item.capital}}</td>
                                <td>{{item.diaPago}}</td>
                                <td>{{item.fondoProvicional}}</td>
                                <td>{{item.fechaEntrega | JsonFecha2}}</td>
                                <td>{{item.fechaTermino | JsonFecha2}}</td>
                                <td>{{item.numeroCuotas}}</td>
                                <td class="text-center"><button title="Descargar Estado de cuenta" v-on:click="verEstado(item)" id="show-modal-estado" data-toggle="modal" data-target="#modal-estado" class="btn btn-default"><i class="fas fa-file-download text-success fa-2x"></i></button></td>
                                <td><a href="javascript:void(0);" title="Eliminar Préstamo" v-on:click="eliminar(item.idPrestamo)"><i class="fa fa-remove"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- /.modal-VER CUOTAS -->
                    <div class="modal fade" id="modal-lg">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title text-success">Ver Cuotas</h4>
                                    <button type="button" class="close" v-on:click="window.location.href='/Clientes/Prestamos?id='+idCliente" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-bordered" id="example2">
                                        <thead>
                                            <tr>
                                                <th>Número</th>
                                                <th>Fecha de Cuota</th>
                                                <th>Fecha de Pago</th>
                                                <th>Monto de cuota</th>
                                                <th>Mora</th>
                                                <th>Días de Mora</th>
                                                <th>Observaciones</th>
                                                <th>Abonar</th>
                                                <th>Abonos</th>
                                                <th>Pago de Moras</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item,numero in cuotas">
                                                <td>{{numero+1}}</td>
                                                <td>{{item.fechaCuota | JsonFecha2}}</td>
                                                <td>{{item.fechaPago | JsonFecha2}}</td>
                                                <td>{{item.montoCuota}}</td>
                                                <td>{{item.mora}}</td>
                                                <td>{{item.diasMora}}</td>
                                                <td>{{item.observaciones}}</td>
                                                <td v-if="item.fechaPago==null"><button class="btn btn-default" id="show-modal" data-toggle="modal" data-target="#modal-sm" v-on:Click="verAbonar(item.idCuota)"><i class="fas fa-share text-primary"></i> <i class="fab fa-cc-visa text-primary"></i></button></td>
                                                <td v-else><span class="badge bg-success">Cuota Cancelada</span></td>
                                                <td>{{item.abono}}</td>
                                                <td>{{item.abonoMora}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer justify-content-between">
                                    <button type="button" class="btn btn-default" v-on:click="window.location.href='/Clientes/Prestamos?id='+idCliente">Cerrar</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>

                    <!-- /.modal-ABONAR -->
                    <div class="modal fade" id="modal-sm">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title text-success">Abonar</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                            <label for="exampleSelectBorder">Monto Cuota</label>
                                            <input v-model="form.monto" type="number" class="form-control" maxlength="100" />
                                        </div>
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                            <label for="exampleSelectBorder">Fecha de abono</label>
                                            <input type="date" v-model="form.fechaAbono" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                            <label for="exampleSelectBorder">Mora</label>
                                            <input v-model="form.mora" type="number" class="form-control" maxlength="100" />
                                        </div>
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                            <label for="exampleSelectBorder">Banco</label>
                                            <select v-model="form.banco" class="custom-select form-control-border">
                                                <option value="" disabled selected>--Selecione--</option>
                                                <option v-for="(sel,cix) in bancos" :value="sel.idBanco">{{sel.razonSocial}}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                            <label for="exampleSelectBorder">Nro Voucher</label>
                                            <input v-model="form.numeroVoucher" type="text" class="form-control" maxlength="100" />
                                        </div>
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                            <label for="exampleSelectBorder">Tipo de abono</label>
                                            <select v-model="form.tipoAbono" class="custom-select form-control-border">
                                                <option value="" disabled selected>--Selecione--</option>
                                                <option value="1">VOUCHER</option>
                                                <option value="2">RECIBO</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                            <label for="exampleSelectBorder">Voucher</label>
                                            <input id="voucher" v-model="form.voucher" type="file" class="form-control" maxlength="100" />
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer justify-content-between">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                                    <button type="submit" class="btn btn-primary" v-on:Click="guardarCuota" :disabled="disabledBtn"><i class="fa fa-save"></i> &nbsp; Guardar</button>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>

                    <!-- /.modal-ESTADO DE CUENTA -->
                    <div class="modal fade" id="modal-estado">
                        <div class="modal-dialog modal-xl">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4 class="modal-title text-success">Estado de Cuenta</h4>
                                    <div>
                                        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                                        <button title="Descargar Estado de cuenta" class="btn btn-default" v-on:Click="descargarEstado()">
                                            Descargar &nbsp;
                                            <i class="fas fa-file-download text-success fa-2x"></i>
                                        </button>
                                    </div>
                                    <button type="button" class="close" v-on:click="window.location.href='/Clientes/Prestamos?id='+idCliente" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body" style="overflow-y: auto; overflow-x: auto;">
                                    <table class="table table-bordered" id="estado">
                                        <thead></thead>
                                        <tbody>
                                            @*Datos del Cliente - prestamo*@
                                            <tr>
                                                <td align="center" colspan="9" style="vertical-align: middle;background-color:royalblue;color:white"><b>DATOS DEL CLIENTE</b></td>
                                            </tr>
                                            <tr>
                                                <td colspan="4" rowspan="2" align="center" style="vertical-align: middle;"><label class="badge bg-primary">CREDITOS "DIEGO"</label></td>
                                                <td colspan="3"><b>N° de Créditos</b></td>
                                                <td colspan="2">{{prestamos.length}}</td>
                                            </tr>
                                            <tr>
                                                <td>@Model.CodigoCliente</td>
                                                <td>{{verPrestamo.autorizacion}}</td>
                                                <td>{{verPrestamo.codigoGestor}}</td>
                                                <td>{{verPrestamo.capital}}</td>
                                                <td colspan="2" rowspan="4" align="center" style="vertical-align: middle;">{{verPrestamo.diaPago}}</td>
                                            </tr>
                                            <tr>
                                                <td>Nombre: </td>
                                                <td colspan="5"><b>@Model.NombreCliente @Model.ApellidosCliente</b></td>
                                                <td colspan="2">HCL</td>
                                            </tr>
                                            <tr>
                                                <td>Dirección: </td>
                                                <td colspan="7"><b>@Model.Direccion</b></td>
                                            </tr>
                                            <tr>
                                                <td>Telefonos: </td>
                                                <td><b>@Model.Celular</b></td>
                                                <td>Celular: </td>
                                                <td><b>@Model.Celular</b></td>
                                                <td>DNI: </td>
                                                <td colspan="3"><b>@Model.Dni</b></td>
                                            </tr>
                                            <tr>
                                                <td>Ubicación: </td>
                                                <td colspan="8"><b>@Model.UbicacionReferencia</b></td>
                                            </tr>
                                            <tr>
                                                <td>Trabajo: </td>
                                                <td colspan="8"><b>@Model.TrabajoOcupacion</b></td>
                                            </tr>
                                            <tr>
                                                <td colspan="9">&nbsp;</td>
                                            </tr>
                                            @*Datos del conyuge*@
                                            @if(Model.TieneConyuge>0){
                                            <tr>
                                                <td>Conyuge: </td>
                                                <td colspan="5"><b>@Model.NombreConyuge @Model.ApellidosConyuge</b></td>
                                                <td>DNI: </td>
                                                <td colspan="2"><b>@Model.DniConyuge</b></td>
                                            </tr>
                                            <tr>
                                                <td>Dirección Conyuge: </td>
                                                <td colspan="8"><b>@Model.DireccionConyuge</b></td>
                                            </tr>
                                            <tr>
                                                <td>Trabajo: </td>
                                                <td colspan="5"><b>@Model.TrabajoConyuge</b></td>
                                                <td>Telefono: </td>
                                                <td colspan="2"><b>@Model.TelefonoConyuge</b></td>
                                            </tr>
                                            <tr>
                                                <td colspan="9">&nbsp;</td>
                                            </tr>
                                            }
                                            @*Datos de AVal*@
                                            @if(Model.TieneAval>0){
                                            <tr>
                                                <td>Aval: </td>
                                                <td colspan="5"><b>@Model.NombreAval @Model.ApellidosAval</b></td>
                                                <td>DNI: </td>
                                                <td colspan="2"><b>@Model.DniAval</b></td>
                                            </tr>
                                            <tr>
                                                <td>Dirección Aval: </td>
                                                <td colspan="8"><b>@Model.DireccionAval</b></td>
                                            </tr>
                                            <tr>
                                                <td>Trabajo Aval: </td>
                                                <td colspan="5"><b>@Model.TrabajoAval</b></td>
                                                <td>Telefono Aval: </td>
                                                <td colspan="2"><b>@Model.TelefonoAval</b></td>
                                            </tr>
                                            <tr>
                                                <td>Parentesco: </td>
                                                <td colspan="5"><b>@Model.ParentescoAval</b></td>
                                                <td>Hijos: </td>
                                                <td colspan="2"><b>@Model.Hijos</b></td>
                                            </tr>
                                            <tr>
                                                <td colspan="9">&nbsp;</td>
                                            </tr>
                                            }
                                            @*Estado de cuenta*@
                                            <tr>
                                                <td colspan="9" style="vertical-align: middle;background-color:royalblue;color:white" align="center"><b>ESTADO DE CUENTA</b></td>
                                            </tr>
                                            <tr>
                                                <td>Fecha de Entrega: </td>
                                                <td><b>{{verPrestamo.fechaEntrega | JsonFecha2}}</b></td>
                                                <td>Modalidad: </td>
                                                <td><b>{{verPrestamo.numeroCuotas}}</b></td>
                                                <td colspan="2">Capital: </td>
                                                <td><b>{{verPrestamo.capital}}</b></td>
                                                <td>Fondo Provisional: </td>
                                                <td><b>{{verPrestamo.fondoProvisional}}</b></td>

                                            </tr>
                                            <tr>
                                                <td colspan="1">Capital pendiente Inicial: </td>
                                                <td colspan="2"><b>{{verPrestamo.capitalPendiente}}</b></td>
                                                <td colspan="2">Número de créditos: </td>
                                                <td colspan="1"><b>{{prestamos.length}}</b></td>
                                                <td colspan="1">Días de pago: </td>
                                                <td colspan="3"><b>{{verPrestamo.diaPago}}</b></td>
                                            </tr>
                                            <tr>
                                                <td colspan="9">
                                                    <table>
                                                        <thead>
                                                            <tr>
                                                                <td>IT</td>
                                                                <td>FECHA</td>
                                                                <td>CAPITAL</td>
                                                                <td>ABONO</td>
                                                                <td>CAPITAL PENDIENTE</td>
                                                                <td>ABONO MORA</td>
                                                                <td>G</td>
                                                                <td>FECHA PAGO</td>
                                                                <td>N° OPERACIÓN</td>
                                                                <td>BANCO</td>
                                                                <td>MORAS PENDIENTES</td>
                                                                <td>DÍAS MORA</td>
                                                                <td>OBSERVACIÓN</td>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr v-for="i,numero in cuotas">
                                                                <td>{{numero+1}}</td>
                                                                <td>{{i.fechaCuota | JsonFecha2}}</td>
                                                                <td>{{verPrestamo.capital}}</td>
                                                                <td>{{i.abono}}</td>
                                                                <td>{{verPrestamo.capitalPendiente}}</td>
                                                                <td>{{i.abonoMora}}</td>
                                                                <td>-</td>
                                                                <td>{{i.fechaPago | JsonFecha2}}</td>
                                                                <td>{{i.nroOperacion}}</td>
                                                                <td>{{i.banco}}</td>
                                                                <td>{{i.mora}}</td>
                                                                <td>{{i.diasMora}}</td>
                                                                <td>{{i.observaciones}}</td>
                                                            </tr>
                                                            <tr>
                                                                <th>S+</th>
                                                                <td></td>
                                                                <td></td>
                                                                <th>{{estadoCuenta.abonoTotal}}</th>
                                                                <td></td>
                                                                <th>{{estadoCuenta.abonoMoraTotal}}</th>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <th>{{estadoCuenta.moraTotal}}</th>
                                                                <th>{{estadoCuenta.diasMoraTotal}}</th>
                                                                <td></td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="modal-footer justify-content-between">
                                    <button type="button" class="btn btn-default" v-on:click="window.location.href='/Clientes/Prestamos?id='+idCliente">Cerrar</button>
                                    <div>
                                        <button title="Descargar Estado de cuenta" class="btn btn-default" v-on:Click="descargarEstado()">
                                            Descargar &nbsp;
                                            <i class="fas fa-file-download text-success fa-2x"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- /.modal-content -->
                        </div>
                        <!-- /.modal-dialog -->
                    </div>
                </div>

                <div class="card-footer">
                    <div class="text-center">
                        <a asp-controller="Clientes" asp-action="ListaClientes"><i class="fa fa-reply"></i> &nbsp; Atrás</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script src="~/adminLte/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminLte/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/adminLte/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/adminLte/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/adminLte/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/adminLte/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/adminLte/plugins/jszip/jszip.min.js"></script>
    <script src="~/adminLte/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/adminLte/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/adminLte/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/adminLte/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/adminLte/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script language="javascript">
        function refrescar() {
            location.reload();
        }
        //Funcion para covertir a base 64
        function getBase64(file) {
            var reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = function () {
                let documento = reader.result.replace(/^data:.+;base64,/, '');
                vform.form.voucher = documento;
            }
        }
        async function cargarFile(file) {
            await getBase64(file);
        }
        //Vuee
        var vform = new Vue({
            el: '#prestamos',
            data: {
                prestamos: [],
                idCliente: '@Model.IdCliente',
                showModal: false,
                cuotas: [],
                form: [],
                bancos: [],
                idCuota: '',
                disabledBtn: false,
                estadoCuenta:[],
                verPrestamo:''
            },
            created() {
                var _this = this;
                fetch('/Clientes/Bancos',
                    {
                        method: 'POST',
                        //body: JSON.stringify(cliente),
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(result => result.json())
                    .then(function (result) {
                        if (result.success == true) {
                            _this.bancos = result.bancos;
                        }
                    });

                var id = '@Model' != null ? '@Model.IdCliente' : 0;
                fetch('/Clientes/ListaPrestamos?idCliente=' + id,
                    {
                        method: 'POST',
                        body: '',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                    .then(result => result.json())
                    .then(function (result) {
                        if (result.success == true) {
                            _this.prestamos = result.prestamos;
                        }
                        $(function () {
                            $("#example1").DataTable({
                                "responsive": true, "lengthChange": false, "autoWidth": false,
                                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                                language: {
                                    "sProcessing": "Procesando...",
                                    "sLengthMenu": "Mostrar _MENU_ registros",
                                    "sZeroRecords": "No se encontraron resultados",
                                    "sEmptyTable": "Ningún dato disponible en esta tabla",
                                    "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_",
                                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                                    "sInfoPostFix": "",
                                    "sSearch": "Buscar:",
                                    "sUrl": "",
                                    "sInfoThousands": ",",
                                    "sLoadingRecords": "Cargando...",
                                    "oPaginate": {
                                        "sFirst": "Primero",
                                        "sLast": "Último",
                                        "sNext": "Siguiente",
                                        "sPrevious": "Anterior"
                                    },
                                    "oAria": {
                                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                                    },
                                    "buttons": {
                                        "copy": "Copiar",
                                        "colvis": "Visibilidad"
                                    }
                                }
                            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

                        });
                    });

            },
            methods: {
                verAbonar(idCuota) {
                    vform.idCuota = idCuota;
                },
                guardarCuota() {
                    var _this = this;
                    _this.disabledBtn = true;
                    //serializar formulario abono
                    var abono = Object.assign({}, vform.form);
                    abono.idCuota = vform.idCuota;
                    fetch('/Clientes/NuevoAbono',
                        {
                            method: 'POST',
                            body: JSON.stringify(abono),
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                        .then(result => result.json())
                        .then(function (result) {
                            if (result.success == true) {
                                setTimeout(refrescar, 1500);
                                toastr.success('¡Se registró correctamente el abono!');
                            }
                        });
                },
                verCuotas: (idPrestamo) => {
                    fetch('/Clientes/Cuotas?idPrestamo=' + idPrestamo,
                        {
                            method: 'POST',
                            //body: JSON.stringify(request),
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                        .then(result => result.json())
                        .then(function (result) {
                            if (result.success == true) {
                                vform.cuotas = result.cuotas;
                                $(function () {
                                    $("#example2").DataTable({
                                        //paging: false,
                                        retrieve: true,
                                        bDestroy: true,
                                        "responsive": true, "lengthChange": true, "autoWidth": false,
                                        "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"],
                                        language: {
                                            "sProcessing": "Procesando...",
                                            "sLengthMenu": "Mostrar _MENU_ registros",
                                            "sZeroRecords": "No se encontraron resultados",
                                            "sEmptyTable": "Ningún dato disponible en esta tabla",
                                            "sInfo": "Mostrando registros del _START_ al _END_ de un total de _TOTAL_",
                                            "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                                            "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                                            "sInfoPostFix": "",
                                            "sSearch": "Buscar:",
                                            "sUrl": "",
                                            "sInfoThousands": ",",
                                            "sLoadingRecords": "Cargando...",
                                            "oPaginate": {
                                                "sFirst": "Primero",
                                                "sLast": "Último",
                                                "sNext": "Siguiente",
                                                "sPrevious": "Anterior"
                                            },
                                            "oAria": {
                                                "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                                                "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                                            },
                                            "buttons": {
                                                "copy": "Copiar",
                                                "colvis": "Visibilidad"
                                            }
                                        }
                                    }).buttons().container().appendTo('#example2_wrapper .col-md-6:eq(0)');
                                });
                            }
                        });
                },
                verEstado:(prestamo)=>{
                    vform.verPrestamo=prestamo;
                    fetch('/Clientes/EstadoCuenta?idPrestamo=' + prestamo.idPrestamo,
                        {
                            method: 'POST',
                            //body: '',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                        .then(result => result.json())
                        .then(function (result) {
                            if (result.success == true) {
                                vform.estadoCuenta = result;
                                vform.cuotas = result.cuotas;
                                console.log(prestamo)
                                console.log(vform.cuotas)
                                console.log('@Model.NombreCliente')
                            }
                        });
                },
                descargarEstado() {
                    var BOM = "\uFEFF";
                    var htmltabel = document.getElementById("estado");
                    var html = htmltabel.outerHTML;
                    window.open('data:application/vnd.ms-excel,' + encodeURI(BOM + html));
                }
            },
            filters: {
                JsonFecha(val) {
                    return val != null ?
                        moment(val).format('DD/MM/YYYY hh:mm:ss') :
                        ''
                        ;
                },
                JsonFecha2(val) {
                    return val != null ?
                        moment(val).format('DD/MM/YYYY') :
                        ''
                        ;
                }
            },
            beforeUpdate() {
                _this = this;
                //seleccionar si es que hay archivo a guardar
                if (this.form.voucher != '' || this.form.voucher != undefined || this.form.voucher != null) {
                    //Extraer atributos
                    var archivo = $("#voucher").val().split('\\').pop();
                    var extension = archivo.substring(archivo.lastIndexOf("."));
                    this.form.tipo = extension;
                    var file = document.querySelector('#voucher').files[0];
                    //Obtener base 64
                    cargarFile(file);
                }
            }
        });
    </script>
}